[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-bootstrap4" = "==0.0.7"
djangorestframework = "==3.9.0"
pytz = "==2017.3"
Django = "==2.1.5"
pillow = "*"
django-crispy-forms = "*"
crispy-forms = "*"
django-select2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
