{% extends 'base.html' %}
{% load static %}
{% block title %}Your Profile{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{{ info }}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top rounded-circle" src="{% static 'HelpArc/img/default-user-image.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Steve Visinand</h5>
                    <p class="card-text">Research assistant</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
        {{ formset.errors }}
                    {{ formset.non_field_errors }}
                    {{ formset.non_form_errors }}
                    {{ form.management_form }}
            <form method="POST" class="uniform" style="font-size:20px">
             {% csrf_token %}
                {{ requestForm | crispy }}
                {{ messageForm | crispy }}
                <input class ="btn btn-success w-100 p-3" type="submit">
            </form>
        </div>
        <div class="col-lg">
            <form>
                Title: <input type="text"> <br>
                Message: <textarea></textarea>
                <input class="" type="submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}