{% extends 'base.html' %}
{% load static %}
{% block title %}Your Profile{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{{ info }}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-0" style="width: 18rem;">
                {% include './profile_card.html' with id=requested.id firstname=requested.first_name lastname=requested.last_name picture=requested.profile.picture.url title=requested.profile.titleId only %}

            </div>
        </div>
        <div class="col-lg-8">
        {{ formset.errors }}
                    {{ formset.non_field_errors }}
                    {{ formset.non_form_errors }}
                    {{ form.management_form }}
            <form method="POST" class="uniform" style="font-size:20px">
             {% csrf_token %}
                {{ requestForm | crispy }}
                {{ messageForm | crispy }}
                <input class ="btn btn-success w-100 p-3" type="submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}