{% extends 'base.html' %}
{% load static %}
{% block title %}Your Profile{% endblock %}

{% block content %}

<div class="">
    Title <select>
            <option value="Professor">Professor</option>
            <option value="Professor">Research assistant</option>
            <option value="Professor">Janitor</option>
            <option value="Professor">Secret Money Collector</option>
        </select>
    
    <div class="card">
        <div class="row">
            <div class="col-1" >
                <img src="{% static 'HelpArc/img/javalogo.png' %}" width="50px"> 
            </div>

            <div class="col">
                {% comment %}
                TODO slider / value selection for the level of knowledge
                {% endcomment %}
            </div> 
        </div>


    </div>

</div>


{% endblock %}