{% load static %}

<div class="col-sm">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top border-bottom rounded-circle"  width="286" height="286" src="{{ picture }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ firstname }} {{ lastname }}</h5>
            <p class="card-text">{{ title }}</p>
            <a href="/askhelp/{{ id }}"><img class="" width="40" src="{% static 'HelpArc/img/askhelp.png' %}" alt="Card image cap"></a>
        </div>
    </div>
</div>