<h2>Liste des demandes</h2>

<table class="table table-striped" id="requestTable">
    <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% if ask_helpers %}
        {% for user in ask_helpers %}
            <tr id='h{{ user.id }}'>
                <th>{{ user.username }}</th>
                <th>{{ user.first_name }}</th>
                <th>{{ user.last_name }}</th>
                <th>{{ user.email }}</th>
                <th><button id="a{{ user.id }}" class="accept" type="button">Accepter</button> 
                    <button id="r{{ user.id }}" class="reject" type="button">Refuser</button>
                </th>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

<h2>Liste des Helpers</h2>
    
<table class="table table-striped" id="mytable">
    <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% if helpers %}
        {% for user in helpers %}
            <tr id='{{ user.id }}'>
                <th>{{ user.username }}</th>
                <th>{{ user.first_name }}</th>
                <th>{{ user.last_name }}</th>
                <th>{{ user.email }}</th>
                <th>
                    <button id="a{{ user.id }}" class="delete" type="button">Revoke</button> 
                </th>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>


<script>
    

    
</script>