<h2>Liste des Classes</h2>

<table class="table table-striped" id="mytable">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% if classes %}
        {% for class in classes %}
            <tr id='{{ class.id }}'>
                <th>{{ class.name }}</th>
                <th>
                    <button id="d{{ class.id }}" class="delete action-button" type="button">Supprimer</button> 
                </th>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

<br>

<form action="{% url 'class_add' %}" enctype='multipart/form-data' id='post-form'>
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 ">Ajouter une classe</legend>
            {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Ajouter</button>
    </div>
</form>