<h2>Liste des technologies</h2>
<table class="table table-striped" id="mytable">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% if technologies %}
        {% for technology in technologies %}
            <tr id='{{ technology.id }}'>
                <th>{{ technology.name }}</th>
                <th>{{ technology.logo }}</th>
                <th>
                    <button id="d{{ technology.id }}" class="delete" type="button">Supprimer</button> 
                </th>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

<form action="{% url 'technology_add' %}" enctype='multipart/form-data' id='post-form'>
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 ">Ajouter une technologie</legend>
            {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Ajouter</button>
    </div>
</form>