{% if titles %}
    <table class="table table-striped" id="mytable">
        <thead>
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr id='{{ title.id }}'>
                <th>{{ title.name }}</th>
                <th>
                    <button id="d{{ title.id }}" class="delete action-button" type="button">Supprimer</button> 
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    There's no titles
{% endif %}

<form action="{% url 'title_add' %}" id='post-form'>
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 ">Ajouter un titre</legend>
            {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Ajouter</button>
    </div>
</form>


<script>
    // Submit post on submit
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        update_db();
    });

    function update_db() {
        var form = $('#post-form');
        var formdata = new FormData(form.get(0));

        $.ajax({
            url : "{% url 'title_add' %}",
            type : "POST",
            data : formdata,
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false, 

            success : function(json) {
                // Add visual feedback
                obj = JSON.parse(json.obj);
                $('#mytable > tbody:last-child').append("<tr id='" + obj[0]['pk'] + "' ><th>" + obj[0]['fields']['name'] + "</th><th><button id='d" + obj[0]['pk'] + "' class='delete action-button' type='button'>Supprimer</button></th></tr>");
            },
        });
    };


    $(document).on( 'click', '.action-button', function () {
        var classe = $(this).attr('id');
        classe = classe.substring(1, classe.length);
        $.ajax({
            method: 'POST',
            data: { csrfmiddlewaretoken: window.CSRF_TOKEN, 'id': classe},
            url: '{% url 'title_delete' %}',
            dataType: 'json',
            success: function (data) {
                if (data.result) 
                {
                   $("#"+classe).remove();
                   //implement messages for user feedback
                } 
                else
                {
                    //message   
                }
            },
            fail: function (data) {
                alert("an error occured");
            }
        });
    });
    

    {% comment %} $(".action-button").click(function () {
        var classe = $(this).attr('id');
        classe = classe.substring(1, classe.length);
        $.ajax({
            method: 'POST',
            data: { csrfmiddlewaretoken: window.CSRF_TOKEN, 'id': classe},
            url: '{% url 'title_delete' %}',
            dataType: 'json',
            success: function (data) {
                if (data.result) 
                {
                   $("#"+classe).remove();
                   //implement messages for user feedback
                } 
                else
                {
                    //message   
                }
            },
            fail: function (data) {
                alert("an error occured");
            }
        });
    }); {% endcomment %}

</script>